@tailwind base;
@tailwind components;
@tailwind utilities;
input[type=file]::file-selector-button {
    border: 1px solid #22c55e;
    background: transparent;
    padding: 10px 20px;
    border-radius: 1px;
    margin-left: 2rem;
    color: black;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #22c55e;
    color: white;
  }



  
  .mycarousell .visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
    
  }
  
  .mycarousell h1 {
    text-align: center;
    margin-top: 1em;
  }
  
  .mycarousell .container {
    overflow: hidden;
    padding: 20px;
    margin-top: 2em;
  }
  
  .mycarousell .card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
  }
  
  @media screen and (max-width: 640px) {
    .mycarousell .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
  }
  
  .mycarousell .card-carousel.smooth-return {
    transition: all .2s ease;
  }
  
  .mycarousell .card-carousel .card {
    width: var(--card-width);
    max-width: var(--card-max-width);
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,0,0,.5);
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .mycarousell .card.highlight {
    filter: brightness(1)
  }
  
  


  .center {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  
  .wrapper {
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    width: 55em;
  }
  .wrapper > .inner {
    display: flex;
    grid-gap: 1em;
    transition: all 1s ease-in-out;
  }
  
  .card {
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  .card > img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    display: block;
    width: 17.5em;
  }
  .card > .content {
    background: #0a2640;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 1em;
    text-align: center;
  }
  .card > .content > h1, .card > .content > h3 {
    margin: 0.35em 0;
  }
  .card > .content > h1 {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
  }
  .card > .content > h3 {
    color: #ccc;
    font-size: 0.9rem;
    font-weight: 300;
  }
  
  .map {
    margin-top: 1em;
  }
  .map > button {
    all: unset;
    background: #11406c;
    cursor: pointer;
    margin: 0 0.125em;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 100%;
    height: 1em;
    width: 1em;
  }
  .map > button.active:after {
    background: #001d38;
    content: "";
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 100%;
    height: 0.5em;
    width: 0.5em;
  }



